h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row > .column > .images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 240px;
}

